body {
 background-image: url("Ciele gris.jpg");
 font-family: American Typewriter, serif;
 font-size: 100%
}

h1{
font-size: 250%;
color: #990000;
text-align: center;
}

h2{
font-size:150%;
color:#800044;
padding-left: 15px;
}

p{
color: #800022;
}
